html,
body {
  padding: 0;
  margin: 0;
  font-family: Keqima, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Keqima';
  src: url('https://download1320.mediafire.com/x5ehkj8nhnrg/tcf6ovlvd9ph9mx/Keqima.woff') format('woff2'), url('https://download1339.mediafire.com/c6nz2i6s2bkg/617uoj1cukan6r3/Keqima.woff2') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
